/* Zelena - #008e99
Siva - #333333
Bela - #f2f2f2 */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

p,
a,
li {
    margin-top: 0;
    font-size: 30px;
}

#main {
    background-image: url(./images/background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
}

#main .wrapper {
    background-color: rgba(242, 242, 242, 0.749);
    width: 60vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

#main .wrapper .towers {
    position: absolute;
    left: -60px;
    bottom: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#main .wrapper .towers .two {
    height: 75%;
    width: 40px;
    background-color: #008e99;
    display: block;
    position: relative;
}

#main .wrapper .towers .two:after {
    content: '';
    border-top: 45px solid transparent;
    border-left: 40px solid #008e99;
}

#main .wrapper .towers .one {
    height: 48%;
    width: 40px;
    background-color: rgba(0, 143, 153, 0.65);
    display: block;
    position: relative;
}

#main .wrapper .towers .one:after {
    content: '';
    border-top: 45px solid transparent;
    border-right: 40px solid rgba(0, 143, 153, 0.65);
    top: -44px;
    position: relative;
}

#main .wrapper .towers .three {
    height: 60%;
    width: 40px;
    background-color: rgba(0, 143, 153, 0.65);
    display: block;
    position: relative;
}

#main .wrapper .towers .three:after {
    content: '';
    border-top: 45px solid transparent;
    border-left: 40px solid rgba(0, 143, 153, 0.65);
    top: -44px;
    position: relative;
}

#main .wrapper header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

#main .wrapper .content {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;
}

#main .wrapper footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    font-size: 30px;
}

.copyright {
    padding: 0 10px;
}

#main .wrapper .image-wrapper {
    padding: 20px;
    background: #fff;
    display: flex;
    width: 80%;
}

#main .wrapper .image-wrapper img,
#main .wrapper header .logo img {
    width: 100%;
    height: 100%;
}

#main .wrapper .content h1 {
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#main .wrapper .content p {
    margin-bottom: 60px;
}

#main .wrapper .content .text-under {
    margin-top: 60px;
}

#main .wrapper .content .button {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#main .wrapper .content .button a,
button {
    background-color: #008e99;
    color: #fff;
    padding: 15px 5vw;
    display: block;
    text-decoration: none;
    border: 0;
}

#main .wrapper .content .button a:hover,
button:hover {
    background-color: #333333;
}

#main .wrapper .content .text-under p {
    margin: 0;
}

/* Games Start */

#main .wrapper .content#game-start h1,
#main .wrapper .content#game-memory h1 {
    text-transform: none;
}

/* Games Start End */

/* Games Memory */

#game-memory .grid {
    max-width: 1099px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#game-memory .card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

#game-memory .card:hover {
    border: 1px solid #008e99;
}

#game-memory .card,
#game-memory .back,
#game-memory .front {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#game-memory .back,
#game-memory .front {
    position: absolute;
    backface-visibility: hidden;
}

#game-memory .front {
    z-index: 2;
    background-image: url(./images/kartica\ memory.png);
}

#game-memory .back {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#game-memory .selected {
    transform: rotateY(180deg);
}

#game-memory .match .front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Game Memory End */

.social,
.questions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
}

.questions {
    flex-direction: column;
    width: 100%;
}

.social li {
    margin: 0;
}

.questions li {
    margin: 0;
    width: 80%;
    height: 100px;
    background-color: #008e99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.questions li:not(:last-child) {
    margin-bottom: 20px;
}

.social li:not(:last-child) {
    margin-right: 15%;
}

.social li a {
    color: #fff;
    background-color: #008e99;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social li a:hover {
    background-color: #333333;
}

.form-wrapp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 0 20px;
    gap: 10px;
}

.form-wrapp input {
    width: 31%;
    height: 56px;
    border: 2px solid #008e99;
    background: transparent;
    padding: 0;
}

.form-wrapp input::placeholder {
    color: #333333;
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    padding: 0 15px;
}

.checkboxes {
    text-align: left;
}

.checkboxes input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    position: relative;
    bottom: -3px;
}

.checkboxes label {
    font-size: 20px;
}


@media only screen and (max-width: 1240px) {
    #main .wrapper .content .button a {
        padding: 15px 75px;
    }

    #main .wrapper {
        width: 80vw;
    }

    #main .wrapper footer {
        font-size: 20px;
    }
}

@media only screen and (max-width: 746px) {
    .form-wrapp input {
        width: 100%;
        text-align: center;
    }
    .questions li {
        width: 90%;
        text-align: center;
    }
    .social li:not(:last-child) {
        margin-right: 5%;
    }
    #main .wrapper .towers {
        position: absolute;
        left: -40px;
        bottom: 0;
        height: 100%;
        width: 60px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #main .wrapper .towers .two,
    #main .wrapper .towers .one {
        width: 20px;
    }
    #main .wrapper .towers .two:after {
        border-top: 30px solid transparent;
        border-left: 20px solid #008e99;
    }
    #main .wrapper .towers .one:after {
        border-top: 30px solid transparent;
        border-right: 20px solid rgba(0, 143, 153, 0.65);
    }
    #main .wrapper .towers .three {
        display: none;
    }
    #main .wrapper {
        width: 90vw;
    }

    #main {
        background-image: url(./images/background-mob.jpg);
    }

    #main .wrapper .content {
        padding: 10px 20px;
    }

    #main .wrapper .content p {
        margin-bottom: 30px;
    }

    #main .wrapper .content .text-under {
        margin-top: 30px;
    }

    #main .wrapper .content .button {
        margin-top: 40px;
    }

    #main .wrapper .content h1 {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 35px;
    }

    #main .wrapper footer {
        font-size: 16px;
    }

    #main .wrapper .image-wrapper {
        padding: 10px;
    }

    p,
    a,
    li {
        margin-top: 0;
        font-size: 20px;
    }

    #game-memory .card, 
    #game-memory .back, 
    #game-memory .front {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width: 430px) {
    #game-memory .card, 
    #game-memory .back, 
    #game-memory .front {
        height: 100px;
        width: 100px;
    }

    #game-memory h1 {
        font-size: 30px;
    }
    .social {
        flex-wrap: wrap;

    }
    .social li {
        margin: 10px;
    }
}